.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--Very-Light-Gray);
}


header {
  text-align: center;
  margin: 70px auto;
  width: 320px;
  height: 150px;
}

#header-one {
  font-weight: 200;
  font-size: 25px;
  color: var(--Very-Dark-Blue);
}

span{
  font-weight: 600;
  margin-top: -15px;
}

header p {
  color: var(--Grayish-Blue);
  font-size: 15px;
}

#four-card-section h2 {
  color: var(--Very-Dark-Blue);
  font-size: 20px;
  margin: 15px 25px 5px;
}

#four-card-section p {
  color: var(--Grayish-Blue);
  font-size: 13px;
  margin: 5px 25px 20px;
}

#four-card-section {
  display: grid;
  margin: 0 auto;
}

#four-card-section div {
  background-color: white;
  width: 310px;
  height: 200px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 8px 15px var(--Grayish-Blue);

}

#four-card-section img {
  transform: translateX(220px);
}

.supervisor-card {
  border-top: 3px solid var(--Cyan);
  grid-area: 1 / 2 / 2 / 3;
}

.team-card {
  border-top: 3px solid var(--Red);
  grid-area: 2 / 2 / 3 / 3;
}

.karma-card {
  border-top: 3px solid var(--Orange);
  grid-area: 3 / 2 / 4 / 3;
}

.calculator-card {
  border-top: 3px solid var(--Blue);
  grid-area: 4 / 2 / 5 / 3;
}


@media only screen and (min-width: 1220px) {

  header {
    width: 500px;
  }

  #four-card-section {
    grid-template-columns: repeat(3, 310px);
    column-gap: 20px;
    grid-template-rows: auto auto auto auto;
    margin: 0 135px;
  }

  .supervisor-card {
    grid-area: 2 / 1 / 4 / 3;
  }

  .team-card {
    grid-area: 1 / 2 / 3 / 3;
  }

  .karma-card {
    grid-area: 3 / 2 / 5 / 3;
  }

  .calculator-card {
    grid-area: 2 / 3 / 4 / 4;
  }

}
